@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&family=Playfair+Display:wght@700&family=Quattrocento+Sans:wght@700&family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&display=swap');

@import'./include/global.scss';
@import'./include/header.scss';
@import'./include/variables.scss';
@import'./include/colours.scss';
@import'./include/typography.scss';
@import'./include/home.scss';
@import'./include/footer.scss';