.navbar {
  min-height: 72px;
}

#header .menubar ul{
  margin-right: 20px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#header .menubar ul li{
  padding: 0px 10px;
}

#header .menubar a{
  color: black;
  font-size: 16px;
}

#header h1 {
  color: rgba(black, 0.98);
  font-size: 23px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.banner {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,20,0.7), rgba(4,9,20,0.7)), url(assets/hackathon_prize.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}