.navbar {
  min-height: 80px;
  position: fixed;
  width: 100%;
}

#header .menubar ul{
  margin-right: 30px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#header .menubar ul li{
  padding: 0px 18px;
}

#header .menubar a{
  color: black;
  font-size: 20px;
}

#header h1 {
  color: rgba(black, 0.98);
  font-size: 23px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
}

