.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img1-e {
    grid-area: img1-e;
    margin-right: 10px;
    margin-left: auto;
    img{
        max-width: 240px;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    }
}

.img2-e {
    grid-area: img2-e;
    margin-right: auto;
    margin-left: 10px;
    img{
        max-width: 240px;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    }
}
.img3-e {
    grid-area: img3-e;
    img {
        max-width: 500px;
    }
}

.img2-extra{
    display: grid;
    grid-gap: 2rem 0rem;
    grid-template-areas:
    'img1-e img2-e'
    'img3-e img3-e';
}

/*
.img5 {
    grid-area: img6;
}

.img6 {
    grid-area: img5;
} */

.images .main-img{
    img {
        max-width: 500px;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    }
}

.images {
    height: 100%;
    color: white;
    padding: 2.5rem;
    display: grid;
    justify-content: space-evenly;
    grid-gap: 2.5rem 1rem;
    grid-template-areas:
    'img1 img2'
    'img3 img4';
}