.font-mw {
    font-family: $font-mw
}

.font-pd {
    font-family: $font-pd;
}

.font-qs {
    font-family: $font-qs;
}

.font-tinos {
    font-family: $font-tinos;
}

.font-fredoka {
    font-family: $font-fredoka;
}

.font-gg {
    font-family: $font-gg;
}

.font-atamid {
    font-family: $font-atamid;
}

.font-atami {
    font-family: $font-atami;
}

.font-atamis {
    font-family: $font-atamis;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-50 {
    font-size: 50px;
}

.font-size-55 {
    font-size: 55px;
}