$font-mw: "Merriweather", serif;
$font-pd: "Playfair Display", serif;
$font-tinos: "Tinos", serif;
$font-qs: "Quattrocento Sans", sans-serif;
$font-fredoka: "Fredoka", sans-serif;
$font-gg: "Grenze Gotisch", cursive;
$font-atamid: "Atami Display", sans-serif;
$font-atami: "Atami Regular", sans-serif;
$font-atamis: "Atami Stencil", sans-serif;
$color-white: white;